<div class='background'>
    <%= link_to "Back", :back, class:'btn btn-default back'%>
    <div class='surrounding'>
        <div class='middleBox boxInfo newReviewBoxInfo'></div>
        <div class='accountHeader outer boxInfo newReviewBoxInfo'>
            <h2>Review deleted</h2>

</div>
</div>
</div>
