<div class='background'>
    <%= link_to "Return to Home", "../home/index", class:'btn btn-default back'%>
    <div class='surrounding'>
        <div class='middleBox boxInfo notLoggedInBoxInfo'></div>
        <div class='accountHeader outer boxInfo notLoggedInBoxInfo'>
            <h2>Sorry, you can't access that page right now!</h2>
    <p>You must be logged in to view that page.</p>
    <div class="btn-group">
        <%= link_to("Login/Sign Up", '/users/sign_in.html', class:"btn btn-default") %>
    </div>
</div>
</div>
</div>
