<% if object.errors.any? %>
<p><strong>Please correct the following errors:</strong></p>
<ul>
    <% object.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>
